<a href="https://colab.research.google.com/github/omkarmohite123/omkarmohite123/blob/main/project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pymongo import MongoClient

In [ ]:
!pip install "pymongo[srv]"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [ ]:
client = MongoClient("mongodb+srv://omkarmohite:omkarmohite@cluster0.hyaedik.mongodb.net/?retryWrites=true&w=majority")
db = client.test
"""
***use following username and password in database***
module_1:: #FOR ADMIN#
    username : Admin
    password : Admin@123
module_2::#FOR TEACHER#
    username : Teacher
    password : Teacher@123
network access: 0.0.0.0/0 
"""

In [ ]:
db=client["mydatabase"]

In [ ]:
mycol = db["SchoolDatabase"]

In [ ]:
print(db.list_collection_names())

['SchoolDatabase']

In [ ]:
mydict={"Student_ID":"1",
        "Student_Name":"omkar",
        "Father_Name":"Anandrao",
        "Surname":"Mohite",
        "Adhar_No":"456723452890",
        "mobile":"8600283734",
        "class":"8th",
        "section":"c",
        "subject":[{
            "math":[{
                "quaterly":"35",
                "half":"55",
                "Annual":"36"
            }],
            "science":[{
                "quaterly":"88",
                "half":"61",
                "Annual":"39"
            }],
            "social":[{
                "quaterly":"66",
                "half":"31",
                "Annual":"47"
            }],
            "language":[{
                "quaterly":"56",
                "half":"94",
                "Annual":"88"
            }]
        }]
          
        }
        
x=mycol.insert_one(mydict)

In [ ]:
mylist=[
        {"Student_ID":"2",
        "Student_Name":"mukesh",
        "Father_Name":"dhirubai",
        "Surname":"ambani",
        "Adhar_No":"888844442345",
        "mobile":"9786756423",
        "class":"10th",
        "section":"b",
        "subject":[{
            "math":[{
                "quaterly":"55",
                "half":"25",
                "Annual":"34"
            }],
            "science":[{
                "quaterly":"65",
                "half":"56",
                "Annual":"74"
            }],
            "social":[{
                "quaterly":"74",
                "half":"58",
                "Annual":"79"
            }],
            "language":[{
                "quaterly":"29",
                "half":"36",
                "Annual":"45"
            }]
        }]
          
        },
        {"Student_ID":"3",
        "Student_Name":"bill",
        "Father_Name":"william",
        "Surname":"gate",
        "Adhar_No":"562345127845",
        "mobile":"9562314873",
        "class":"10th",
        "section":"d",
        "subject":[{
            "math":[{
                "quaterly":"86",
                "half":"77",
                "Annual":"81"
            }],
            "science":[{
                "quaterly":"45",
                "half":"75",
                "Annual":"69"
            }],
            "social":[{
                "quaterly":"79",
                "half":"90",
                "Annual":"83"
            }],
            "language":[{
                "quaterly":"55",
                "half":"66",
                "Annual":"77"
            }]
        }]
          
        },
        {"Student_ID":"4",
        "Student_Name":"Elon",
        "Father_Name":"Errol",
        "Surname":"musk",
        "Adhar_No":"987456123753",
        "mobile":"7784956231",
        "class":"10th",
        "section":"a",
        "subject":[{
            "math":[{
                "quaterly":"82",
                "half":"45",
                "Annual":"78"
            }],
            "science":[{
                "quaterly":"78",
                "half":"34",
                "Annual":"76"
            }],
            "social":[{
                "quaterly":"32",
                "half":"34",
                "Annual":"30"
            }],
            "language":[{
                "quaterly":"65",
                "half":"45",
                "Annual":"35"
            }]
        }]
          
        }
]
x=mycol.insert_many(mylist)

In [ ]:
v=[]
for x in mycol.find():
    v.append(x)

{'_id': ObjectId('630b0e8230397fbd38b66c8e'), 'Student_ID': '1', 'Student_Name': 'omkar', 'Father_Name': 'Anandrao', 'Surname': 'Mohite', 'Adhar_No': '456723452890', 'mobile': '8600283734', 'class': '8th', 'section': 'c', 'subject': [{'math': [{'quaterly': '35', 'half': '55', 'Annual': '36'}], 'science': [{'quaterly': '88', 'half': '61', 'Annual': '39'}], 'social': [{'quaterly': '66', 'half': '31', 'Annual': '47'}], 'language': [{'quaterly': '56', 'half': '94', 'Annual': '88'}]}]}
{'_id': ObjectId('630b0e8930397fbd38b66c8f'), 'Student_ID': '2', 'Student_Name': 'mukesh', 'Father_Name': 'dhirubai', 'Surname': 'ambani', 'Adhar_No': '888844442345', 'mobile': '9786756423', 'class': '10th', 'section': 'b', 'subject': [{'math': [{'quaterly': '55', 'half': '25', 'Annual': '34'}], 'science': [{'quaterly': '65', 'half': '56', 'Annual': '74'}], 'social': [{'quaterly': '74', 'half': '58', 'Annual': '79'}], 'language': [{'quaterly': '29', 'half': '36', 'Annual': '45'}]}]}
{'_id': ObjectId('630b0e8930397fbd38b66c90'), 'Student_ID': '3', 'Student_Name': 'bill', 'Father_Name': 'william', 'Surname': 'gate', 'Adhar_No': '562345127845', 'mobile': '9562314873', 'class': '10th', 'section': 'd', 'subject': [{'math': [{'quaterly': '86', 'half': '77', 'Annual': '81'}], 'science': [{'quaterly': '45', 'half': '75', 'Annual': '69'}], 'social': [{'quaterly': '79', 'half': '90', 'Annual': '83'}], 'language': [{'quaterly': '55', 'half': '66', 'Annual': '77'}]}]}
{'_id': ObjectId('630b0e8930397fbd38b66c91'), 'Student_ID': '4', 'Student_Name': 'Elon', 'Father_Name': 'Errol', 'Surname': 'musk', 'Adhar_No': '987456123753', 'mobile': '7784956231', 'class': '10th', 'section': 'a', 'subject': [{'math': [{'quaterly': '82', 'half': '45', 'Annual': '78'}], 'science': [{'quaterly': '78', 'half': '34', 'Annual': '76'}], 'social': [{'quaterly': '32', 'half': '34', 'Annual': '30'}], 'language': [{'quaterly': '65', 'half': '45', 'Annual': '35'}]}]}